html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
}

h1, h2, h3 {
font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}


/*--------------scroll-bar-----------------*/

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #ff4c68;
}

body::-webkit-scrollbar-thumb {
  background: #a3d2ca;
}

/*------------------------------------------*/


/* Coloring all the sections */

.colored-section{
  background: #B2FEFA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0ED2F7, #6ddccf);
  background: linear-gradient(to left, #0ED2F7, #6ddccf);
  color: #000;
}

.white-section{
background-color: #fff;
}



/* Title */

.container-fluid {
  padding: 3% 25% 7%;
}

#title {

  text-align: left;
}

/* Headline */
.headline{
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/*-----navbar-------*/
.navbar {
  /* top lef-right bottom  */
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: bold;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: "Ubuntu";
  font-weight: bold;
}

/*------- download buttons------------------ */
.download-button {
  /*--- T R L B---- */
  margin: 5% 3% 5% 0;
}

/*---------- title image--------------- */
.iphone {
  width: 60%;
  transform: rotate(25deg);
  filter: drop-shadow(0 0 5px #000);
  position: absolute;
  right: 30%;
}


/* Padding for features, carousel-item, cta, footer */
.padding{
padding: 7% 15%;
}


/* features */
#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.feature-title{
font-weight: bold;
}

.icon {
  color: #ff4c68;
  margin-bottom: 1rem;
}


/* Testimonials section*/




.testimonial-text {
font-size: 3rem;
font-weight: bold;
line-height: 1.5;
}

.testimonial-image {
  border-radius: 80px;
  width: 10%;
  margin: 20px;
}

#press {
  
  padding-bottom: 3%;
}

.press-logo {
  width: 10%;
  /* (always remember margin: top left-right bottom) */
  margin: 20px 20px 50px;
}

/* Testimonials end */



/*------------------- Pricing Section-----------*/

#price {
  padding: 100px;

}

.pricing-column {
  padding: 2% 3%;

}

.price-headline{
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.price-text{
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

/* Sign up button */

.SignUP-btn {
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  padding: 11px 30px;
  border: 2px solid #b3b3b3;
  color: #000;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;

  font-size: 14px;
}

.SignUP-btn::after {
  position: absolute;
  left: -100%;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: #000;
  z-index: -1;
  transition: all 0.35s ease-in-out;
}

.SignUP-btn:hover {
  text-decoration: none;
  color: #fff;
  border: 2px solid #000;
}

.SignUP-btn:hover::after {
  left: 0;
}

.SignUP-btn:focus {
  color: #d789d7;
}

/*----------- sign up button ends------------ */



/* Call to action */


.social-icon{
margin: 20px 10px;
}




/* ------- Media Query ---------- */

@media (max-width: 1028px) {

#title{
text-align: center;
}

 .iphone{
   position: static;
   transform: rotate(0);
 }

}
